<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro</title>
    <link rel="stylesheet" href="/styles/css/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Ocorreu um erro!</h1>
        <p>Estamos tendo problemas para processar sua solicitação.</p>
        <p>Status do erro: {{status}}</p>
        <p>Mensagem: {{message}}</p>
        <a href="/">Voltar para a página inicial</a>
    </div>
</body>
</html>
