<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

    <title>SemStress</title>
</head>

<body>
  <header class="header">
    <div class="logo"></div>
    <div class="SemStress">
      <p class="Sem">Sem</p>
      <p class="Stress">Stress</p>
    </div>
  </header>


  <div class="explanation-info">
    <h1>Não precisa mais se estressar <br>Sem estresse vai te helpar</h1>
  </div>
  <form action="submit">
    <input type="text" name="topic" id="topic" placeholder="Insira o tópico do seu estresse">
    <button type="submit">Gerar</button>
  </form>

  <footer>
    <p class="footer">© 2025 SemStress | Por Azário Cossa</p>
  </footer>

</body>
</html>