<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

    <title>SemStress</title>
</head>

<body>
  <header>
    <div class="logo"></div>
    <div>Sem Stress</div>
  </header>


  <div class="title">
    <h1>Não precisa mais se estressar <br>Sem estresse vai te helpar</h1>
  </div>
  <div class="subtitle">
    <h2>Este é um teste de stress</h2>
  <footer>
    <p>© 2025 SemStress | Por Azário Cossa</p>
  </footer>

</body>
</html>