<div class="modal" id="loading">
    <div class="modal-content">
        <div>
           <h1>
            Relaxa enquanto fazemos as cenas
           </h1> 
        </div>

        <div class="animationArea">
            <div class="loading-bars">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        </div>
    </div>

</div>

